* {
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Quicksand', sans-serif;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background: linear-gradient(to left, #e88aff8a 0%, #38d4ff85 100%);
}

footer,
article,
section,
main {
    display: block;
}

a {
    text-decoration: none;
}

h1 {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    color: #ffffff;
    font-size: 65px;
    font-weight: 900;
}

h1 span {
    background: linear-gradient(rgba(0, 0, 0, 0) 65%, rgba(255, 255, 255, 0.432) 35%)
}

.container {
    margin-top: 60px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.container .item {
    margin: 10px;
    padding: 10px;
    width: 250px;
    height: 120px;
    background: #ffffffa8;
    box-shadow: 0 3px 7px -1px rgba(0, 0, 0, 0.521);
    transition: .5s;
}

.container .item:hover {
    margin: 20px;
    background: #ffffff;
    transform: scale(1.1);
    box-shadow: 0 4px 10px -1px rgba(0, 0, 0, 0.815);
}

.container .item .content {
    text-align: center;
}

.container .item .content h3 {
    font-weight: 700;
    font-size: 24px;
    line-height: 56px;
    color: #000000;
}

.container .item .content a {
    font-weight: 300;
    font-size: 16px;
    color: #363636;
    transition: .5s;
}

.container .item .content a:hover {
    color: #000000;
    transition: .5s;
}

.container .item .content p {
    margin: 5px;
    font-weight: 700;
    font-size: 12px;
    color: #b14989;
}

footer {
    margin-top: 500px;
}

footer p {
    color: #FFFFFF;
    font-weight: 300;
    font-size: 16px;
    line-height: 28px;
}