* {
    padding: 0;
    margin: 0;
}

body {
    font-family: Mulish, sans-serif;
    background: #FFFFFF;
}

header,
nav,
main,
article,
section,
footer {
    display: block;
}

a {
    text-decoration: none;
}

#hero-section,
#services-section,
#customer-section,
#article-section {
    padding-left: 25px;
}

header {
    width: 100%;
    padding-top: 31px;
}

.logo-style {
    margin-left: 25px;
    padding-left: 12px;
    background: url('../images/anthurium.png') no-repeat;
    background-size: contain;
    display: block;
}

.logo-style span {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 24px;
    margin-left: 25px;
    font-weight: 700;
    color: #000000;
}

nav article {
    margin-top: 30px;
    margin-left: 25px;
    list-style: none;
    width: 350px;
    display: flex;
    justify-content: space-between;
}

nav article a {
    font-weight: 400;
    font-size: 18px;
    line-height: 23px;
    color: #1F1534;
    opacity: .5;
}

nav article a:hover {
    font-weight: 700;
    color: #1F1534;
    opacity: .8;
}

nav article a.selected {
    font-weight: bold;
    color: #000000;
    opacity: 1;
}

/* First section */

#hero-section {
    padding-top: 63px;
    padding-bottom: 100px;
}

.title-background h1 {
    font-weight: 700;
    font-size: 42px;
    line-height: 53px;
    color: #1F1534;
}

.title-background {
    position: relative;
    background: url('../images/Group.png') no-repeat;
    height: 40px;
}

.title-background h1 {
    position: absolute;
    font-weight: 700;
    font-size: 42px;
    line-height: 53px;
    top: 5px;
    left: 25px;
    color: #1F1534;
}

#hero-section h2 {
    margin-top: 63px;
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 36px;
    line-height: 56px;
    color: #000000;
}

#hero-section img {
    display: block;
    max-width: 100%;
    margin-top: 20px;
}

#hero-section .hero-btn {
    margin-top: 23px;
    padding: 15px 40px;
    background-color: #458FF6;
    color: #FFFFFF;
    text-align: center;
    display: inline-block;
    border-radius: 55px;
    font-weight: 700;
    font-size: 18px;
}

#hero-section .hero-btn:hover {
    color: #458FF6;
    background-color: #458ff627;
    transition: .5s;
}

#hero-section article p {
    margin-top: 20px;
    max-width: 693px;
    color: #7D7987;
    font-weight: 300;
    font-size: 21px;
    line-height: 32px;
}

/* Second section */

#services-section {
    margin-bottom: 300px;
}

#services-section section h2 {
    position: relative;
    margin-bottom: 30px;
    font-weight: 700;
    font-size: 36px;
    line-height: 56px;
    color: #000000;
}

#services-section section h2::before {
    content: "";
    position: absolute;
    bottom: -14px;
    background: #000000;
    border-radius: 5px;
    height: 2px;
    width: 56px;
    left: 70px;
}

#services-section section p {
    max-width: 952px;
    color: #7D7987;
    font-weight: 300;
    font-size: 18px;
    line-height: 30px;
    margin-right: 35px;
}

#services-section section h3 {
    font-weight: 700;
    font-size: 24px;
    line-height: 56px;
    color: #000000;
}

#services-section .service-container {
    margin-top: 63px;
    display: flex;
    align-items: center;
}

#services-section .service-container {
    max-width: 1200px;
    display: flex;
    flex-wrap: wrap;
}

#services-section .service-container .item {
    background: #FFFFFF;
    display: flex;
    cursor: pointer;
    flex-direction: column;
    width: 350px;
    height: 354px;
    margin: 37px 34px 10px 0;
    border-radius: 20px;
    box-shadow: 10px 40px 50px rgba(229, 233, 246, 0.4);
}

#services-section .service-container .item .imgBox {
    padding: 47px 1px 24px 38px;
}

#services-section .service-container .item .content {
    color: #000000;
    padding-left: 39px;
}

#services-section .service-container .item .content h3 {
    font-weight: 700;
    font-size: 24px;
    line-height: 56px;
    color: #000000;
}

#services-section .service-container .item .content p {
    max-width: 266px;
    font-weight: 300;
    font-size: 16px;
    line-height: 28px;
    color: #7D7987;
}

.services-btn {
    margin-top: 25px;
    padding: 15px 50px;
    background-color: #FFFFFF;
    color: #458FF6;
    border: 1.4px solid #458FF6;
    text-align: center;
    display: inline-block;
    border-radius: 55px;
    font-weight: 700;
    font-size: 18px;
}

.services-btn:hover {
    background-color: #458FF6;
    color: #FFFFFF;
    transition: .5s;
}

/* Footer */

footer {
    margin-top: 35px;
    width: 100%;
    background: linear-gradient(183.41deg, #67C3F3 -8.57%, #5A98F2 82.96%);
    display: flex;
    flex-direction: column;
}

footer section {
    margin-top: 50px;
    width: 134px;
    display: flex;
    justify-content: space-between;
}

footer a {
    margin-top: 30px;
    margin-left: 20px;
    list-style: none;
    width: 445px;
    display: flex;
    justify-content: space-between;
    font-weight: 700;
    font-size: 20px;
    color: #FFFFFF;
}

footer a:hover {
    color: #1a4fd3;
    transition: .2s;
}

footer .logo-style {
    margin-top: 73px;
}

footer .logo-style span {
    color: #1a4fd3;
}

footer p {
    margin: 130px 0px 50px 25px;
    color: #FFFFFF;
    font-weight: 300;
    font-size: 16px;
    line-height: 28px;
}

/* Third section */

#customer-section {
    padding-top: 63px;
    padding-bottom: 70px;
    max-width: 1125px;
}

#customer-section article {
    background: linear-gradient(183.41deg, #67C3F3 -8.57%, #5A98F2 82.96%);
    margin: 37px 5px 0 0;
    padding: 30px 20px;
    border-radius: 20px;
}

#customer-section article img {
    border: 5px solid #FFFFFF;
    border-radius: 50%;
    margin: 10px 0;
}

#customer-section article p h2 h3 h4 {
    margin: 10px 0;
}

#customer-section article p {
    max-width: 420px;
    font-weight: 400;
    font-size: 19px;
    line-height: 30px;
    color: rgba(255, 255, 255, 0.9);
}

#customer-section article h4 {
    font-weight: 400;
    font-size: 18px;
    line-height: 48px;
    color: rgba(255, 255, 255, 0.85);
}

#customer-section article h2 {
    position: relative;
    margin-bottom: 30px;
    font-weight: 700;
    font-size: 30px;
    line-height: 56px;
    color: #FFFFFF;
}

#customer-section article h3 {
    position: relative;
    font-weight: 700;
    font-size: 20px;
    color: #FFFFFF;
}

#customer-section article h2::before {
    content: "";
    position: absolute;
    bottom: -14px;
    background: #FFFFFF;
    border-radius: 5px;
    height: 2px;
    width: 56px;
    left: 170px;
}

#article-section .services-btn {
    padding: 15px 60px;
    margin-top: 38px;
    margin-bottom: 6px;
}

/* Four section */

#article-section h2 {
    margin-bottom: 30px;
    font-weight: 700;
    font-size: 30px;
    line-height: 56px;
    color: #000000;
}

#article-section .article-container {
    display: flex;
    flex-wrap: wrap;
    max-width: 1191px;
}

#article-section article {
    width: 350px;
    height: 512px;
    background-color: #FFFFFF;
    border-radius: 20px;
    margin: 30px 35px 0 0;
    box-shadow: 10px 40px 50px rgba(229, 233, 246, 0.4);
}

#article-section article img {
    border-radius: 20px 20px 0 0;
    max-width: 100%;
}

#article-section article div {
    padding: 25px;
}

#article-section article div h3 {
    color: #000000;
    font-weight: 700;
    font-size: 21px;
    line-height: 32px;
    margin: 12px 0;
}

#article-section article div p {
    width: 266px;
    height: 84px;
    margin-bottom: 25px;
    font-weight: 300;
    font-size: 16px;
    line-height: 28px;
    color: #7D7987;
}

#article-section article div a {
    margin-bottom: 35px;
    font-weight: 600;
    font-size: 17px;
    line-height: 28px;
    color: #4089ED;
    opacity: 1;
}

#article-section article div a span {
    padding: 5px;
}

#article-section article div a:hover {
    opacity: .5;
    transition: .5s;
}